body {
    background-color: gold;
}
h1{
    text-align: center;
}
a{
    display: block;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-radius: 10px;
    background-color: blueviolet;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 12px;
}
